# Ignora i file di configurazione di VSCode
.vscode

# Ignora i file oggetto e l'eseguibile
src/*.o
src/a.out

# Ignora le configurazioni del formatter
.clang-format

# Ignora i file ausiliari alla compilazione della documentazione (non TeX)
!docs
docs/*
!docs/*.tex